.close-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    /* overflow: hidden; */
    /* text-decoration: none; */
    color: red;
    /* background-color: inherit; */
    text-align: center;
    cursor: pointer;
    /* white-space: nowrap; */
    height:4px;
  }
  
  .topright {
    position: absolute;
    right: 0;
    top: 0
  }

  .btn{
    margin:2%;
   
  }
  .buttons{
    padding:2%;
    button{
      flex:1
    }
  }